body{
	background-color: #85E0FF;
}
div{
	border: solid 1px red;
	padding:5px;
}
.wrap{
	width:95%;
	margin:5px auto;
}
.feed,
.main-feed, 
.friends{
	display: inline-block;
	vertical-align: top;
	padding:5px;
}
.friends{
	min-width: 200px;
	width:25%;
	background-color:;

}